.jobsflexbox {
  display: flex;
  color: rgb(0, 0, 0);
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  // background-color: rgb(168, 168, 168);
  // font-size: 24px;
  margin-top: -30px;
}
.SeachHome {
  display: flex;
  justify-content: center;
}
.headerJob {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-bottom: 1px solid rgb(192, 191, 191);
  transition: 0.3s ease-in-out;
}
.scroll-up-header {
  margin-top: 10px;
  // position: fixed;
}
.scroll-up {
  height: 1000px;

  overflow-y: auto;
}
.jobs {
  // height: 5000px;
  cursor: pointer;
  // width: auto;
  margin-top: 50px;
  margin-left: 50px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 40px;
  // display: flex;
  transition: 0.3s ease;
}
.JobN {
  // background-color: #ffe600;
  border: 1.5px solid rgb(0, 0, 0);
}
.selected {
  background-color: #f7f7f7;
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
  border: 1px solid #ffe600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.leftJobs {
  // overflow-x: hidden;
  padding-right: 10px;
  scrollbar-width: none;
  margin-left: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  // flex-direction: column;
  // flex: 1;
  // width: 600px;
  flex-wrap: wrap;
}
.leftjobFlexNot {
  display: block;
}
.jobs:hover {
  scale: (1.01);
}
.title {
  font-size: 1.5rem;
  font-weight: 550;
}
.jobs:hover {
  .title {
    text-decoration: underline;
  }
}
.address {
  margin-top: 10px;
  font-size: 18px;
}
.shift {
  font-size: 20px;
  border-radius: 5px;
  font-weight: 800;
  padding: 3px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  color: rgb(0, 0, 0);
  margin-right: 5px;
}
.SalaryRangee {
  margin-top: 8px;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 500;
  padding: 3px;
  background-color: rgb(194, 194, 194);
  display: flex;
  // flex-direction: row;
  display: inline-block;
  color: rgb(49, 49, 49);
  margin-right: 5px;
}
.day {
  margin-top: 5px;
}
.SkillRequired {
  font-size: 20px;
  border-radius: 5px;
  font-weight: 800;
  padding: 3px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  color: rgb(0, 0, 0);
  margin-right: 5px;
}
.Responsibilities {
  margin-left: -3px;
  margin-top: 10px;
}
.jobsflexbox {
  display: flex;
  // align-items: center;
  justify-content: center;
  // text-align: center;
}

.rightBigJob {
  // width: 600px;
  // background-color: aqua;
  // border: 1px solid black;
  // border: 1px solid #ffe600;
  height: auto;
  margin-top: 100px;
  margin-left: 30px;
}
.rightBigJob2 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  padding: 20px;
  border-radius: 4px;
  .address {
    text-decoration: underline;
  }
  .SalaryRange {
    margin-top: 10px;
    background-color: #e4f7e6;
    display: inline-block;
    color: #f7f7f7;
    font-size: 1.2rem;
    color: rgb(49, 49, 49);
    font-weight: 500;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .btn2 {
    margin-top: 5px;
    background-color: #ffe600;
    color: rgb(0, 0, 0);
    font-weight: 800;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
  }
}
.buttonwithBookMark {
  position: relative;
}
.svj {
  top: 7%;
  position: absolute;
  // margin-top: 40px;
  padding: 6px;
  // background-color: rgb(203, 203, 203);
}
.moreDetail {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  // margin-left: 30px;
  padding: 20px;

  border: 1px solid white;
  max-width: 630px;

  min-width: 500px;
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 1.1rem;
    color: #808080;
    margin-top: 10px;
  }
  p {
    font-size: 1.1rem;
  }
  .SkillRequired {
    font-size: 18px;
  }
}
.skillIcon {
  display: flex;
  p {
    margin-top: 30px;
    margin-left: 10px;
  }
}

.SkillRequired2 {
  // margin-top: 10px;
  // border-radius: 3px;
  // padding: 3px;
  // display: inline-block;
  // background-color: azure;
  // color: black;
  // font-size: 18px;

  margin-top: 10px;
  background-color: #e4f7e6;
  display: inline-block;
  color: #f7f7f7;
  font-size: 1.2rem;
  color: rgb(49, 49, 49);
  font-weight: 500;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.EducationIcon {
  display: flex;
  p {
    margin-top: 30px;
    margin-left: 10px;
  }
}
.homeJobs {
  // max-width: 00px;
}
