.postJob {
  color: white;
}
// role
// addres
// company name
// responsibilities
// time
.PostJobdetail {
  padding: 50px;
  margin-top: 30px;
  display: flex;

  justify-content: center;
  // align-items: center;
  color: rgb(255, 255, 255);
  // background-color: #343a40;
}
.jobpostImageContainer {
  margin-top: 0;
}
.jobpostjpg {
  // margin-top: -700px;
}
.postjobinput {
  width: 500px;
  padding: 7px;
  font-size: 18px;
  // border-radius: 10px;
}

.salaray {
  display: flex;
}
.salaryrange {
  display: flex;
}
.SalaryRange {
  display: flex;
}
.postjobinput1 {
  width: 200px;
  padding: 7px;
  font-size: 17px;
  border-radius: 10px;
}

.SkillRequired {
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}
.btn2 {
  padding: 3px;
  font-size: 18px;
}

.skill {
  border: 1px solid rgb(0, 0, 0);
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
}
.skills {
  max-width: 200px;
  border-radius: 10px;
  padding: 5px;
}
.skills:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.Responsibilities {
  width: 500px;
  font-size: 17px;

  border-radius: 10px;
  padding: 5px;
}
.selectedSkills {
  background-color: #000000;
  display: inline-block;
  color: #ffffff;
  padding: 5px;
  border-radius: 7px;
  margin-right: 2px;
  img {
    margin-bottom: -5px;
    width: 20px;
    filter: sepia(100%) saturate(10000%);

    border-radius: 10px;
  }
}
.postJob {
  h1 {
    font-size: 1.2rem;
    margin-bottom: -10px;
  }
  padding: 30px;
  display: flex;
  justify-content: center;
  // align-items: center;
  // max-width: 500px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: #343a40;
  input {
    margin-bottom: -10px;
  }
}
.JobpostH1 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
}
.minsalary {
  font-size: 1.2rem;

  font-weight: 700;
  // margin-left: 20px;
}
.maxSalary {
  font-size: 1.2rem;

  font-weight: 700;
}

$primary: #ef9638;
$secondary: #fab31a;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  // width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 600;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
// <div className="form__group field">

//           </div>
// className="form__label"
