body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.jobpostjpg {
  width: auto;
  height: 400px;
}

.resume {
  // margin-left: 00px;
  width: 794px; /* approximately 8.27 inches */
  height: 1122px;
  margin: 0 auto;
  //   padding: 20px;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.linksli {
  margin-bottom: -30px;
  text-decoration: underline;
  cursor: pointer;
}
.linkContainer2 {
  margin-top: 30px;
  margin-bottom: -20px;
}
.linksgandu {
  margin-bottom: 300px;
}
.linkContainer {
  margin-top: -25px;
}
.profile-picture {
  margin-top: 25px;
  margin-left: 72px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  // margin-right: 20px;
}

.imgupload {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.personal-info h1 {
  margin: 0;
  color: #333;
}

.personal-info p {
  // margin: 0;
  color: #666;
  overflow-wrap: break-word;
}
.personal-info {
  overflow-wrap: break-word;

  min-height: 30px;
  max-width: 500px;
}
.contact h2,
.education h2,
.expertise h2,
.language h2,
.reference h2 {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

.experience-item {
  margin-bottom: 20px;
  width: 450px;
}

.reference-item {
  margin-bottom: 20px;
}
.FlexResume {
  display: flex;
}
.leftResume {
  width: 220px;
  // max-width: 400px;
  padding-right: 80px;
  min-height: 1122px;
  background-color: #323b4c;
  color: white;
  h2 {
    margin-left: 40px;
  }
  ul {
    margin-left: 40px;
  }
}
.RightResume {
  width: 500px;
}
.contact {
  width: 300px;
  overflow-wrap: break-word;

  margin-top: 40px;
  a {
    text-decoration: underline;
    color: inherit;
  }
  li {
    margin-top: 30px;
  }
}
.education {
  p {
    margin-left: 40px;
  }
  width: 300px;
  overflow-wrap: break-word;
  margin-top: 40px;
  li {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.a {
  position: relative;
  display: flex;
  // height: 20px;
  li {
    margin-right: 10px;
  }
  // height: 100px;
  // margin-bottom: 10px;
}
.expertise {
  width: 300px;
  padding-bottom: 20px;
  overflow-wrap: break-word;
  li {
    // margin-left: -37px;
    margin-bottom: 10px;
  }
}
.expertise2 {
  // position: absolute;
  left: 50%;
  top: 10%;
}
.language {
  // position: absolute;
  top: 180%;
  width: 300px;
  // overflow-wrap: break-word;
  li {
    margin-left: -37px;

    // margin-bottom: 0px;
  }
}
.personal-info {
  min-height: 150px;

  padding: 20px;
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
    color: #323b4c;
  }
  p {
    max-width: 600px;

    font-size: 14px;
    font-weight: 200;
  }
}

.experience {
  margin-top: 10px;
  padding: 20px;
  width: 450px;
  h2 {
    width: 450px;
    border-bottom: 2px solid #323b4c;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
.reference {
  padding: 20px;

  h2 {
    border-bottom: 2px solid #323b4c;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
.resumeBigFlex {
  margin-left: 120px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  //   margin-left: 20px;
}
.LeftInfo {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid white;
  border-radius: 7px;
  width: 500px;
  .h1 {
    text-align: center;
  }
}
@media (max-width: 1400px) {
  .LeftInfo {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid white;
    border-radius: 7px;
    width: 400px;
    .h1 {
      text-align: center;
    }
  }
  .resumeBigFlex {
    margin-left: 0px;
    display: flex;
    margin-top: 30px;
    //   margin-left: 20px;
  }
}
.PersonalInfo {
  h1 {
    font-size: 18px;
  }
  input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  textarea {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
}
.Contact {
  p {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
  }
}
.unique {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 60px;
}
.unique2 {
  padding: 1px;
  background-color: rgb(255, 94, 0);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}
.unique2:hover {
  scale: (1.1);
}
.unique:active {
  scale: (1);
}
.ExperienceOption {
  display: flex;
}
.btn4 {
  margin-left: 350px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 7px;
  color: white;
  background-color: #000000;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease-in-out;
  transition: 0.4s;
}
.btn4:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.btn4:active {
  transform: scale(1.1);
}
.btn4:active::after {
  transform: translate(-50%, -50%);
}

.FilteredSkills {
  background-color: rgb(0, 0, 0);
}
.FilteredSkillOne {
  color: #fff;
  cursor: pointer;
}

.imageUpload {
  // display: flex;
  margin-top: 10px;
  p {
    font-size: 20px;
  }
  // border-top: 2px solid gray;
  // border-bottom: 2px solid gray;
}
.choosefile {
  background-color: #bfb4b4;
  font-family: Arial, sans-serif;
  margin-right: 10px;
  // border: 1px solid black;
  // padding: 0px
  cursor: pointer;
  margin-top: 10px;
  border-radius: 7px;
  color: white;
  // background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-left: 330px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease-in-out;
  transition: 0.4s;
}
.btn5 {
  background-color: rgb(255, 94, 0);
  font-family: Arial, sans-serif;
  margin-right: 10px;
  // border: 1px solid black;
  // padding: 0px
  cursor: pointer;
  margin-top: 10px;
  border-radius: 7px;
  color: white;
  // background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-left: 330px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease-in-out;
  transition: 0.4s;
}
.underimageflex {
  display: flex;
}
.btn5:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.stickybutton {
  padding: 10px 10px;
  background-color: #ef6c00;
  color: white;
  position: fixed;
  top: 88%;
  right: 1%;
  transition: 0.9s;
}
.stickybutton:hover {
  background-color: #ffffff;
  color: #ef6c00;
  scale: (1.1);
}
.stickybutton:active {
  scale: (1.01);
}
.input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.imageuploadicons {
  font-size: 20px;
}
.Cross {
  display: flex;
  cursor: pointer;
  // display: inline-block;
  // position: relative;
  padding-bottom: 10px;
}
.cross {
  margin-top: 3px;
}
li {
  list-style: none;
}
.selectedSkill {
  margin-top: 10px;
}
// .EL {
//   display: flex;
//   flex-direction: column;
// }
