body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.resume {
  // margin-left: 00px;
  width: 794px; /* approximately 8.27 inches */
  height: 1122px;
  margin: 0 auto;
  //   padding: 20px;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  margin-top: 25px;
  margin-left: 72px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  // margin-right: 20px;
}

.imgupload {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.personal-info h1 {
  margin: 0;
  color: #333;
}

.personal-info p {
  // margin: 0;
  color: #666;
  overflow-wrap: break-word;
}
.personal-info {
  overflow-wrap: break-word;

  min-height: 30px;
  max-width: 500px;
}
.contact h2,
.education h2,
.expertise h2,
.language h2,
.reference h2 {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

.experience-item {
  margin-bottom: 20px;
}

.reference-item {
  margin-bottom: 20px;
}
.FlexResume {
  display: flex;
}
.leftResume {
  width: 220px;
  // max-width: 400px;
  padding-right: 80px;
  min-height: 1122px;
  background-color: #323b4c;
  color: white;
  h2 {
    margin-left: 40px;
  }
  ul {
    margin-left: 40px;
  }
}
.contact {
  width: 300px;
  overflow-wrap: break-word;

  margin-top: 40px;
  a {
    text-decoration: underline;
    color: inherit;
  }
  li {
    margin-top: 30px;
  }
}
.education {
  width: 300px;
  overflow-wrap: break-word;
  margin-top: 40px;
  li {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
.expertise {
  width: 300px;
  overflow-wrap: break-word;
  li {
    margin-left: -37px;
    margin-bottom: 20px;
  }
}
.language {
  width: 300px;
  overflow-wrap: break-word;
  li {
    margin-left: -37px;

    // margin-bottom: 0px;
  }
}
.personal-info {
  padding: 20px;
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
    color: #323b4c;
  }
  p {
    max-width: 600px;

    font-size: 14px;
    font-weight: 200;
  }
}

.experience {
  margin-top: 10px;
  padding: 20px;
  h2 {
    width: 500px;
    border-bottom: 2px solid #323b4c;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
.reference {
  padding: 20px;

  h2 {
    width: 500px;

    border-bottom: 2px solid #323b4c;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
.resumeBigFlex {
  margin-left: 120px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  //   margin-left: 20px;
}
.LeftInfo {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid white;
  border-radius: 7px;
  width: 500px;
  .h1 {
    text-align: center;
  }
}
@media (max-width: 1400px) {
  .LeftInfo {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid white;
    border-radius: 7px;
    width: 400px;
    .h1 {
      text-align: center;
    }
  }
  .resumeBigFlex {
    margin-left: 0px;
    display: flex;
    margin-top: 30px;
    //   margin-left: 20px;
  }
}
.PersonalInfo {
  h1 {
    font-size: 18px;
  }
  input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  textarea {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
}
.Contact {
  p {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
  }
}
.unique {
  font-size: 30px;
  font-weight: bold;
}

.FilteredSkills {
  background-color: rgb(0, 0, 0);
}
.FilteredSkillOne {
  color: #fff;
  cursor: pointer;
}
